video {
    /* margin:0 auto; */
    margin-top: -3.5rem;
    width:auto;
    height: 115%;
 
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}

.video-container {
    height: 100vh;
    /* margin-top: -5rem */
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}